.login{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(235, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/bg.jpg") center center no-repeat;
    background-size: cover;
    min-width: 800px;
    .login_wrap{
        width: 260px;
        height: 300px;
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
        box-sizing: border-box;
        align-items: center;
        border: 2px solid rgba(0,0,0,.5);
        box-shadow: 0 0 10px rgba(0,0,0,.6);
        animation: shake linear 3s infinite;
        .login_input{
            width: 220px;
            height: 30px;
            outline: none;
            border-radius: 5px;
            border: 1px solid #999;
            margin-bottom: 50px;
            line-height: 30px;
            padding: 0 10px;
            font-size: 16px;
            background-color: rgba(0,0,0,0);
            color: #fff;
            box-sizing: border-box;
        }
        .login_input:focus{
            border: 1px solid #20A0FF;
        }
        .login_input:hover{
            border: 1px solid #20A0FF;
        }
        .login_btn{
            width: 80px;
            height: 30px;
            background-color: #1890FF;
            border-radius: 5px;
            outline: none;
            line-height: 30px;
            text-align: center;
            margin-bottom: 50px;
            color: #fff;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .login_btn:hover{
            background-color: #20A0FF;
        }
        .login_btn:focus{
            background-color: #1890FF;
        }
    }
}
@keyframes shake {
    0%{transform: translate(0%,0%);}
    25%{transform: translate(-1.5%,1.5%);}
    50%{transform: translate(0%,3%);}
    75%{transform: translate(1.5%,1.5%);}
    100%{transform: translate(0%,0%);}
}