.content{
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    min-width: 1200px;
    width: 100%;
    height: 80px;
    color: #fff;
    .header_wrap{
        position: relative;
        background-color: #0C1F3B;
        width: 100%;
        height: 80px;
        box-sizing: border-box;
        padding: 12px 30px;
        .left{
            display: flex;
            width: 40%;
            align-items: center;
            .img_wrap{
                width: 56px;
                height: 56px;
                border-radius: 50%;
                overflow: hidden;
                img{
                    width: 56px;
                    height: 56px;
                }
            }
            p{
                font-size: 32px;
                margin-left: 10px;
            }
        }
        .right{
            width: 320px;
            display: flex;
            justify-content: space-between;
            .right_top{
                text-align: right;
                display: flex;
                flex-direction: column;
                font-size: 16px;
                div{
                    height: 28px;
                    line-height: 28px;
                }
            }
            .time{
                height: 56px;
                font-size: 46px;
                line-height: 56px;
            }
        }
    }
    .content_wrap{
        position: relative;
        width: 100%;
        min-width: 1200px;
        height: 920px;
        overflow: auto;
        color: #999;
        box-sizing: border-box;
    }
    .myFooter{
        width: 100%;
        height: 80px;
        position: relative;
        background-color: #0C1F3B;
        color: #fff;
        min-width: 1200px;
        box-sizing: border-box;
        padding: 12px 30px;
        .footerList{
            width: 100%;
            height: 56px;
            display: flex;
            justify-content: space-between;
            
            .listItem{
                display: flex;
                img{
                    width: 56px;
                    height: 56px;
                }
                .desc{
                    display: flex;

                    .require{
                        height: 56px;
                        word-wrap: break-word;
                        font-size: 22px;
                        display: flex;
                        align-items: center;
                    }
                    .title{
                        width: 66px;
                        height: 56px;
                        word-wrap: break-word;
                        font-size: 22px;
                        box-sizing: border-box;
                        padding-left: 10px;
                        display: flex;
                        align-items: center;
                    }

                }
                
            }
        }  
    }
}